#navbar a {
    font-size: 15px;
}
#main-header nav a #logo{
    font-size: 30px;
}
#main-breadcrumb{
    margin: 20px;
}

#main-content{
    margin: 20px;
    padding: 30px;
    width: 80%;
    background:#FFFFFF;
}
#main-label-registro{
    text-align: center;
}
#main-seccion-registro{
    width: 80%;
    background: #FAFAFA;
    padding: 30px;
}